.vocab-box {
    -fx-background-color: lightblue;
    -fx-border-color: black;
    -fx-padding: 5;
    -fx-alignment: center;
}

.connector-box {
    -fx-background-color: grey;
    -fx-border-color: black;
    -fx-border-radius: 3;
}
