.root {
    -fx-font-family: "Segoe UI";
    -fx-background-color: #F0F0F0;
}

.button {
    -fx-background-color: #FFDAB9;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}


.choice-box {
    -fx-background-color: white;
    -fx-border-color: #ccc;
}
#mainLable {
    -fx-font-family: "Times New Roman";
    -fx-font-size: 16pt;
    -fx-alignment: center;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}
#vocabModeBox {
    -fx-background-color: #ffffff;
    -fx-border-radius: 50px;
    -fx-border-color: #888;

}